<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lldAppTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
				<key>dateExpires</key>
				<string>2019/1/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DGElasticPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>572023FB5E3C895C23711B8AAEDC792E0B7CB47D</string>
						<key>dateExpires</key>
						<string>2019/1/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JJR2ZF8DZN</string>
						<key>name</key>
						<string>Jinhua Lan You Network Technology Co., Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JJR2ZF8DZN.com.lld.app.lldApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JJR2ZF8DZN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>lldAppTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>49c78f28-0fd1-4934-9a7d-847e0a1afead</string>
				<key>name</key>
				<string>lldAdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JJR2ZF8DZN</string>
				<key>name</key>
				<string>Jinhua Lan You Network Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
